[package]
name = "bindings_wasm"
version = "0.1.0"
authors = ["jazzz <jazz@xmtp.com"]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
js-sys = "0.3"
xmtp= { path = "../xmtp" }
wasm-bindgen = "0.2"

[dev-dependencies]
wasm-bindgen-test = "0.3"

[profile.release]
opt-level = "s"
