[package]
edition = "2024"
license.workspace = true
name = "xmtp_id"
version.workspace = true

[package.metadata.docs.rs]
targets = [
  "x86_64-unknown-linux-gnu",
  "wasm32-unknown-unknown",
  "aarch64-apple-darwin",
]

[dependencies]
async-trait.workspace = true
chrono.workspace = true
ed25519-dalek = { workspace = true, features = ["digest"] }
ethers = { workspace = true, features = ["rustls"] }
futures.workspace = true
hex.workspace = true
openmls_traits.workspace = true
prost.workspace = true
rand.workspace = true
regex.workspace = true
rustc-hex.workspace = true
serde.workspace = true
serde_json.workspace = true
sha2.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["macros"] }
tracing.workspace = true
url = { workspace = true, features = ["serde"] }
web-time.workspace = true
xmtp_api = { workspace = true }
xmtp_common.workspace = true
xmtp_cryptography.workspace = true
xmtp_proto = { workspace = true, features = ["proto_full"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { version = "0.2", features = ["js"] }
openmls = { workspace = true, features = ["js"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
openmls.workspace = true

[dev-dependencies]
ed25519-dalek = { workspace = true, features = ["digest", "rand_core"] }
wasm-bindgen-test.workspace = true
xmtp_common = { workspace = true, features = ["test-utils"] }
xmtp_v2 = { path = "../xmtp_v2" }

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
gloo-timers.workspace = true

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
ctor.workspace = true

[features]
test-utils = ["xmtp_common/test-utils"]
