[package]
edition = "2021"
name = "xmtp_id"
version = "0.1.0"

[dependencies]
async-trait.workspace = true
chrono.workspace = true
ed25519-dalek = { workspace = true, features = ["digest"] }
ed25519.workspace = true
ethers.workspace = true
ethers-core.workspace = true
futures.workspace = true
hex.workspace = true
log.workspace = true
openmls.workspace = true
openmls_basic_credential.workspace = true
openmls_rust_crypto.workspace = true
openmls_traits.workspace = true
prost.workspace = true
rand.workspace = true
regex.workspace = true
rustc-hex.workspace = true
serde.workspace = true
sha2.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["macros"] }
tracing.workspace = true
url.workspace = true
xmtp_cryptography.workspace = true
xmtp_proto = { workspace = true, features = ["proto_full"] }

[dev-dependencies]
ctor = "0.2.5"
ed25519-dalek = { workspace = true, features = ["digest"] }
futures = "0.3"
regex = "1.10"
tokio = { workspace = true, features = ["macros", "time"] }
xmtp_v2 = { path = "../xmtp_v2" }

[features]
test-utils = []
