[package]
edition = "2021"
name = "xmtp_id"
version.workspace = true

[dependencies]
url = "2.5.2"
async-trait.workspace = true
chrono.workspace = true
ed25519-dalek = { workspace = true, features = ["digest"] }
futures.workspace = true
hex.workspace = true
tracing.workspace = true
openmls_traits.workspace = true
prost.workspace = true
rand.workspace = true
regex.workspace = true
rustc-hex.workspace = true
serde.workspace = true
serde_json.workspace = true
sha2.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["macros"] }
xmtp_cryptography.workspace = true
xmtp_proto = { workspace = true, features = ["proto_full"] }
dyn-clone.workspace = true
wasm-timer.workspace = true

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { version = "0.2", features = ["js"] }
openmls = { workspace = true, features = ["js"] }
ethers = { workspace = true, features = ["rustls"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
openmls.workspace = true
ethers = { workspace = true, features = ["openssl"] }

[dev-dependencies]
xmtp_v2 = { path = "../xmtp_v2" }

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test.workspace = true
gloo-timers.workspace = true

[features]
test-utils = []
