[package]
name = "xmtp_id"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log.workspace = true
tracing.workspace = true
thiserror.workspace = true
xmtp_cryptography.workspace = true 
xmtp_mls.workspace = true
xmtp_proto.workspace = true
openmls_traits.workspace = true
openmls.workspace = true
openmls_basic_credential.workspace = true
openmls_rust_crypto.workspace = true
prost.workspace = true
chrono.workspace = true
serde.workspace = true
async-trait.workspace = true
futures.workspace = true
sha2 = "0.10.8"
rand.workspace = true
hex.workspace = true
ethers.workspace = true

[dev-dependencies]
tracing-subscriber.workspace = true 
serde_json.workspace = true
anyhow.workspace = true
tokio = { workspace = true, features = ["time"] }
jsonrpsee = { workspace = true, features = ["macros", "ws-client"] }
ethers = { workspace = true, features = ["ws"] }
tokio-test = "0.4"
ctor.workspace = true
regex = "1.10"
