[package]
name = "xmtp_networking"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tonic = "^0.9"
xmtp_proto = { path = "../xmtp_proto", features = ["proto_full", "grpc"] }
prost = { version  = "^0.11", features = ["prost-derive"] }
tokio = { version = "1.24", features = ["macros", "rt-multi-thread", "time"] }
tokio-rustls = "0.24.0"
serde = { version = "1.0.160", features = ["derive"] }
serde_json = "1.0"
base64 = "0.21.0"
pbjson = "0.5.1"
pbjson-types = "0.5.1"
hyper = "0.14.26"
hyper-rustls = { version = "0.24.0", features = ["http2"]}
http-body = "0.4.5"
tower = "0.4.13"
webpki-roots = "0.23.0"

[dev-dependencies]
uuid = { version = "1.3.1", features = ["v4"] }
