[package]
edition = "2021"
name = "xmtp_v2"
rust-version = "1.64"
version.workspace = true

[dependencies]
aes-gcm = "0.10.1"
ecdsa = "0.15.1"
generic-array = "0.14.6"
# getrandom = { workspace = true, features = ["js"] }
hex = { workspace = true }
hkdf = "0.12.3"
k256 = { version = "0.12.0", features = ["ecdh"] }
rand = { workspace = true }
sha2 = "0.10.6"
sha3 = "0.10.6"

[dev-dependencies]
