[package]
name = "xmtp_v2"
version = "0.1.0"
edition = "2021"
rust-version = "1.64"

[dependencies]
aes-gcm = "0.10.1"
ecdsa = "0.15.1"
generic-array = "0.14.6"
getrandom = { version = "0.2.8", features = ["js"] }
hex = { workspace = true }
hkdf = "0.12.3"
k256 = { version = "0.12.0", features = ["ecdh"] }
rand = { workspace = true }
rand_chacha = "0.3.1"
sha2 = "0.10.6"
sha3 = "0.10.6"

[dev-dependencies]
