[workspace]

members = [
  "examples/cli",
  "mls_validation_service",
  "xmtp_cryptography",
  "xmtp_api_grpc",
  "xmtp_api_http",
  "xmtp_proto",
  "xmtp_user_preferences",
  "xmtp_v2",
  "xmtp_mls",
  "xmtp_id",
  "bindings_wasm",
  "bindings_node",
  "bindings_ffi"
]

# Make the feature resolver explicit.
# See https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html#details
resolver = "2"

[workspace.package]
version = "0.0.1"

[workspace.dependencies]
anyhow = "1.0"
async-stream = "0.3"
async-trait = "0.1.77"
trait-variant = "0.1.2"
chrono = "0.4.38"
wasm-timer = "0.2"
ctor = "0.2"
ed25519 = "2.2.3"
ed25519-dalek = "2.1.1"
ethers = "2.0.11"
futures = "0.3.30"
futures-core = "0.3.30"
getrandom = { version = "0.2", default-features = false }
hex = "0.4.3"
openmls = { git = "https://github.com/xmtp/openmls", rev = "87e7e257d8eb15d6662b104518becfc75ef6db76", default-features = false }
openmls_basic_credential = { git = "https://github.com/xmtp/openmls", rev = "87e7e257d8eb15d6662b104518becfc75ef6db76" }
openmls_rust_crypto = { git = "https://github.com/xmtp/openmls", rev = "87e7e257d8eb15d6662b104518becfc75ef6db76" }
openmls_traits = { git = "https://github.com/xmtp/openmls", rev = "87e7e257d8eb15d6662b104518becfc75ef6db76" }
pbjson = "0.7.0"
pbjson-types = "0.7.0"
prost = "^0.13"
prost-types = "^0.13"
rand = "0.8.5"
regex = "1.10.4"
rustc-hex = "2.1.0"
serde = "1.0"
serde_json = "1.0"
sha2 = "0.10.8"
thiserror = "1.0"
tls_codec = "0.4.1"
tokio = { version = "1.35.1", default-features = false }
tonic = "^0.12"
tracing = { version = "0.1", features = ["log", "release_max_level_debug"] }
tracing-subscriber = "0.3"
diesel = { version = "2.2", default-features = false }
diesel-wasm-sqlite = "0.0.1"
diesel_migrations = { version = "2.2", default-features = false }
parking_lot = "0.12.3"
wasm-bindgen-test = "0.3.42"
wasm-bindgen-futures = "0.4"
wasm-bindgen = "=0.2.92"
gloo-timers = "0.3"
web-sys = "0.3"
js-sys = "0.3"
# NOTE: A regression in openssl-sys exists where libatomic is dynamically linked
# for i686-linux-android targets. https://github.com/sfackler/rust-openssl/issues/2163
openssl-sys = "=0.9.92"
openssl = "=0.10.57"
libsqlite3-sys = { version = "0.29", features = ["bundled-sqlcipher-vendored-openssl" ] }

# Internal Crate Dependencies
xmtp_cryptography = { path = "xmtp_cryptography" }
xmtp_id = { path = "xmtp_id" }
xmtp_mls = { path = "xmtp_mls" }
xmtp_proto = { path = "xmtp_proto" }

[profile.dev]
# Disabling debug info speeds up builds a bunch,
# and we don't rely on it for debugging that much.
debug = 0

[profile.release]
incremental = true
opt-level = "s"
panic = 'abort'
lto = true

[profile.release.package.bindings_node]
strip = "symbols"

# NOTE: The release profile reduces bundle size from 230M to 41M - may have performance impliciations
# https://stackoverflow.com/a/54842093
[profile.release.package.xmtpv3]
codegen-units = 1 # Reduce number of codegen units to increase optimizations
opt-level = 'z'   # Optimize for size + loop vectorization
strip = true      # Strip symbols from binary*

[profile.release.package.bindings_wasm]
# optimize for binary size
opt-level = "s"

# patch needed until some items
# are made public for third-party dependencies: https://github.com/diesel-rs/diesel/pull/4236
# (cfg-specific patche support does not exist)
[patch.crates-io]
diesel = { git = "https://github.com/xmtp/diesel", branch = "insipx/sqlite-replace-ignore-pub" }
diesel_derives = { git = "https://github.com/xmtp/diesel", branch = "insipx/sqlite-replace-ignore-pub" }
diesel_migrations = { git = "https://github.com/xmtp/diesel", branch = "insipx/sqlite-replace-ignore-pub" }
diesel-wasm-sqlite = { git = "https://github.com/xmtp/diesel-wasm-sqlite", branch = "main" }
