[workspace]
resolver = "2"

members = [
  "examples/cli",
  "xmtp",
  "xmtp_crypto",
  "xmtp_cryptography",
  "xmtp_keystore",
  "xmtp_networking",
  "xmtp_proto",
  "xmtp_pppp",
]

# Exclude since
# 1) no reason to share profile with other core crates
# 2) moreover, bindings_swift and xmtp_dh need their own size-optimized profile
exclude = [
  "bindings_ffi",
  "bindings_js",
  "bindings_swift",
  "ecies_bindings_wasm",
  "xmtp_dh",
]
