[workspace]

members = [
  "examples/cli",
  "mls_validation_service",
  "xmtp_cryptography",
  "xmtp_api_grpc",
  "xmtp_proto",
  "xmtp_user_preferences",
  "xmtp_v2",
  "xmtp_mls",
  "xmtp_id"
]

exclude = [
  "bindings_ffi",
  "bindings_wasm",
  "xmtp_api_grpc_gateway",
]

# Make the feature resolver explicit.
# See https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html#details
resolver = "2"

[workspace.dependencies]
async-trait = "0.1.77"
chrono = "0.4"
ethers = "2.0.11"
ethers-core = "2.0.4"
futures = "0.3.30"
futures-core = "0.3.30"
hex = "0.4.3"
log = "0.4"
openmls = { git = "https://github.com/xmtp/openmls", rev = "f1ccc20" }
openmls_basic_credential = { git = "https://github.com/xmtp/openmls", rev = "f1ccc20" }
openmls_rust_crypto = { git = "https://github.com/xmtp/openmls", rev = "f1ccc20" }
openmls_traits = { git = "https://github.com/xmtp/openmls", rev = "f1ccc20" }
prost = "^0.12"
prost-types = "^0.12"
rand = "0.8.5"
serde = "1.0"
serde_json = "1.0"
thiserror = "1.0"
tls_codec = "0.4.0"
tokio = { version = "1.35.1", features = ["macros"] }
tonic = "^0.11"
tracing = "0.1"
anyhow = "1.0"
jsonrpsee = { version = "0.22", features = ["macros", "server", "client-core"] }
tracing-subscriber = { version = "0.3.18", features = ["fmt", "env-filter"] }
ctor = "0.2"

# Internal Crate Dependencies
xmtp_cryptography = { path = "xmtp_cryptography" }
xmtp_mls = { path = "xmtp_mls" }
xmtp_proto = { path = "xmtp_proto" }
