[workspace]

members = [
  "examples/cli",
  "mls_validation_service",
  "xmtp_cryptography",
  "xmtp_api_grpc",
  "xmtp_proto",
  "xmtp_v2",
  "xmtp_mls",
]

exclude = ["bindings_ffi", "bindings_wasm", "xmtp_api_grpc_gateway"]

# Make the feature resolver explicit.
# See https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html#details
resolver = "2"

[workspace.dependencies]
openmls = { git = "https://github.com/xmtp/openmls", branch = "nm/merge-upstream" }
openmls_traits = { git = "https://github.com/xmtp/openmls", branch = "nm/merge-upstream" }
openmls_basic_credential = { git = "https://github.com/xmtp/openmls", branch = "nm/merge-upstream" }
openmls_rust_crypto = { git = "https://github.com/xmtp/openmls", branch = "nm/merge-upstream" }
tls_codec = "0.4.0"
tokio = { version = "1.35.1", features = ["macros"] }
thiserror = "1.0.56"
rand = "0.8.5"
ethers = "2.0.11"
ethers-core = "2.0.4"
prost = "0.11"
prost-types = " 0.11"
tonic = "^0.9"
serde = "1.0.195"
futures = "0.3.30"
futures-core = "0.3.30"
log = "0.4.20"
hex = "0.4.3"
async-trait = "0.1.77"
