[workspace]

members = [
  "xmtp",
  "xmtp_crypto",
  "xmtp_cryptography",
  "xmtp_keystore",
  "xmtp_networking",
  "xmtp_proto",
]

# Exclude since
# 1) no reason to share profile with other core crates
# 2) moreover, bindings_swift needs its own size-optimized profile
exclude = [
  "bindings_ffi",
  "bindings_js",
  "bindings_swift",
  "bindings_wasm",
]
