[workspace]

members = [
  "examples/cli",
  "mls_validation_service",
  "xmtp_cryptography",
  "xmtp_api_grpc",
  "xmtp_proto",
  "xmtp_user_preferences",
  "xmtp_v2",
  "xmtp_mls",
  "xmtp_id",
]

exclude = [
  "bindings_ffi",
  "bindings_wasm",
  "xmtp_api_grpc_gateway",
  "bindings_node",
]

# Make the feature resolver explicit.
# See https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html#details
resolver = "2"

[workspace.dependencies]
anyhow = "1.0"
async-trait = "0.1.77"
chrono = "0.4.38"
ctor = "0.2"
ed25519 = "2.2.3"
ed25519-dalek = "2.1.1"
ethers = "2.0.11"
ethers-core = "2.0.4"
futures = "0.3.30"
futures-core = "0.3.30"
hex = "0.4.3"
log = "0.4"
openmls = { git = "https://github.com/xmtp/openmls", rev = "7e4375dff" }
openmls_basic_credential = { git = "https://github.com/xmtp/openmls", rev = "7e4375dff" }
openmls_rust_crypto = { git = "https://github.com/xmtp/openmls", rev = "7e4375dff" }
openmls_traits = { git = "https://github.com/xmtp/openmls", rev = "7e4375dff" }
prost = "^0.12"
prost-types = "^0.12"
rand = "0.8.5"
regex = "1.10.4"
rustc-hex = "2.1.0"
serde = "1.0"
serde_json = "1.0"
sha2 = "0.10.8"
thiserror = "1.0"
tokio = { version = "1.35.1", features = ["macros"] }
tonic = "^0.11"
tracing = "0.1"
url = "2.5.0"
tls_codec = { version = "0.4.2-pre.1", git = "https://github.com/nplasterer/formats", rev = "f1764ef5bc3fd028d899c8fc98b068cb047b4e1d" }

# Internal Crate Dependencies
xmtp_cryptography = { path = "xmtp_cryptography" }
xmtp_id = { path = "xmtp_id" }
xmtp_mls = { path = "xmtp_mls" }
xmtp_proto = { path = "xmtp_proto" }
