[package]
edition = "2021"
name = "xmtp_cryptography"
rust-version = "1.70"
version.workspace = true
license.workspace = true

[package.metadata.docs.rs]
targets = [
  "x86_64-unknown-linux-gnu",
  "wasm32-unknown-unknown",
  "aarch64-apple-darwin",
]

[dependencies]
curve25519-dalek = "4"
ecdsa = "0.16.9"
ed25519-dalek = { workspace = true, features = ["digest"] }
ethers = { workspace = true }
hex = { workspace = true }
k256 = { version = "0.13.3", features = ["ecdh"] }
openmls_basic_credential.workspace = true
openmls_traits.workspace = true
rand = { workspace = true }
rand_chacha = "0.9.0"
rustc-hex.workspace = true
serde = { workspace = true }
sha2.workspace = true
sha3.workspace = true
thiserror = { workspace = true }
tls_codec.workspace = true
tracing.workspace = true
zeroize.workspace = true

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { workspace = true, features = ["js"] }
wasm-bindgen-test.workspace = true
wasm-bindgen-futures.workspace = true

[features]
ws = ["ethers/ws"]
# Expose private keys in addition to public
exposed-keys = []

[dev-dependencies]
openmls_basic_credential = { workspace = true, features = ["test-utils"] }
bincode.workspace = true

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test.workspace = true
