[package]
edition = "2021"
name = "xmtp_cryptography"
rust-version = "1.70"
version.workspace = true

[dependencies]
tracing.workspace = true
curve25519-dalek = "4"
ecdsa = "0.16.9"
ethers = { workspace = true }
hex = { workspace = true }
k256 = { version = "0.13.3", features = ["ecdh"] }
rand = { workspace = true }
rand_chacha = "0.3.1"
rustc-hex.workspace = true
serde = { workspace = true }
sha2 = "0.10.7"
sha3 = "0.10.6"
thiserror = { workspace = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { workspace = true, features = ["js"] }
wasm-bindgen-test.workspace = true
wasm-bindgen-futures.workspace = true

[features]
ws = ["ethers/ws"]

[dev-dependencies]
tokio = { version = "1.28.1", features = ["rt", "macros"] }
