[package]
edition = "2024"
name = "xmtp_cryptography"
rust-version = "1.85"
version.workspace = true
license.workspace = true

[package.metadata.docs.rs]
targets = [
  "x86_64-unknown-linux-gnu",
  "wasm32-unknown-unknown",
  "aarch64-apple-darwin",
]

[dependencies]
alloy = { workspace = true, features = [
  "signers",
  "providers",
  "signer-local",
] }
ed25519-dalek = { workspace = true, features = ["digest"] }
hex.workspace = true
libcrux-ed25519 = "0.0.3"
openmls.workspace = true
openmls_basic_credential.workspace = true
openmls_traits.workspace = true
rand = { workspace = true }
rand_chacha.workspace = true
serde = { workspace = true }
sha2.workspace = true
thiserror = { workspace = true }
tls_codec.workspace = true
zeroize.workspace = true


[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { workspace = true, features = ["wasm_js"] }
wasm-bindgen-test.workspace = true
wasm-bindgen-futures.workspace = true

[features]
# Expose private keys in addition to public
exposed-keys = []
test-utils = ["openmls/test-utils"]

[dev-dependencies]
bincode.workspace = true
openmls = { workspace = true, features = ["test-utils"] }
openmls_basic_credential = { workspace = true, features = ["test-utils"] }

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test.workspace = true
