[package]
name = "xmtp_cryptography"
version = "0.1.0"
edition = "2021"
rust-version = "1.70"

[dependencies]
curve25519-dalek = "4"
ecdsa = "0.16.9"
ethers = { workspace = true }
ethers-core = { workspace = true }
hex = { workspace = true }
k256 = { version = "0.13.3", features = ["ecdh"] }
log = { workspace = true }
rand = { workspace = true }
rand_chacha = "0.3.1"
rustc-hex.workspace = true
serde = { workspace = true }
sha2 = "0.10.7"
sha3 = "0.10.6"
thiserror = { workspace = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { workspace = true, features = ["js"] }

[features]
ws = ["ethers/ws"]

[dev-dependencies]
tokio = { version = "1.28.1", features = ["rt", "macros"] }
