[package]
edition = "2024"
name = "xmtp_cryptography"
rust-version = "1.85"
version.workspace = true
license.workspace = true
description = "cryptography primitives for xmtp"

[package.metadata.docs.rs]
targets = [
  "x86_64-unknown-linux-gnu",
  "wasm32-unknown-unknown",
  "aarch64-apple-darwin",
]

[dependencies]
alloy = { workspace = true, features = [
  "signers",
  "providers",
  "signer-local",
] }
ed25519-dalek = { workspace = true, features = ["digest"] }
hex.workspace = true
libcrux-ed25519.workspace = true
openmls.workspace = true
openmls_basic_credential.workspace = true
openmls_traits.workspace = true
rand = { workspace = true }
rand_chacha.workspace = true
serde = { workspace = true }
sha2.workspace = true
thiserror = { workspace = true }
tls_codec.workspace = true
xmtp-workspace-hack = { version = "0.1", path = "../xmtp-workspace-hack" }
zeroize.workspace = true

[target.'cfg(all(target_family = "wasm", target_os = "unknown"))'.dependencies]
getrandom = { workspace = true, features = ["wasm_js"] }
# Force getrandom 0.3 to enable wasm_js
getrandom_03 = { package = "getrandom", version = "0.3", features = [
  "wasm_js",
] }
getrandom_02 = { package = "getrandom", version = "0.2", features = ["js"] }
openmls = { workspace = true, features = ["js"] }

[features]
# Expose private keys in addition to public
exposed-keys = []
test-utils = ["openmls/test-utils"]

[dev-dependencies]
bincode.workspace = true
openmls = { workspace = true, features = ["test-utils"] }
openmls_basic_credential = { workspace = true, features = ["test-utils"] }

[target.'cfg(all(target_family = "wasm", target_os = "unknown"))'.dev-dependencies]
wasm-bindgen-test.workspace = true
