[package]
edition = "2021"
name = "xmtp_mls"
version = "0.1.0"

[[bin]]
doc = false
name = "update-schema"
path = "src/bin/update-schema.rs"

[features]
default = ["types", "native"]
grpc = ["xmtp_proto/grpc"]
native = ["libsqlite3-sys/bundled-sqlcipher-vendored-openssl"]
types = []

[dependencies]
async-trait.workspace = true
chrono = { workspace = true }
diesel = { version = "2.1.3", features = [
    "sqlite",
    "r2d2",
    "returning_clauses_for_sqlite_3_35",
] }
diesel_migrations = { version = "2.1.0", features = ["sqlite"] }
ed25519-dalek = "2.1.1"
ethers-core.workspace = true
ethers.workspace = true
futures.workspace = true
hex.workspace = true
libsqlite3-sys = { version = "0.26.0", optional = true }
log.workspace = true
openmls = { workspace = true, features = ["test-utils"] }
openmls_basic_credential = { workspace = true }
openmls_rust_crypto = { workspace = true }
openmls_traits = { workspace = true }
prost = { workspace = true, features = ["prost-derive"] }
rand = { workspace = true }
serde = { workspace = true }
serde_json.workspace = true
sha2.workspace = true
smart-default = "0.7.1"
thiserror = { workspace = true }
tls_codec = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread"] }
toml = "0.8.4"
xmtp_cryptography = { workspace = true }
xmtp_id = { path = "../xmtp_id" }
xmtp_proto = { workspace = true, features = ["proto_full", "convert"] }
xmtp_v2 = { path = "../xmtp_v2" }

[dev-dependencies]
ctor.workspace = true
flume = "0.11"
mockall = "0.11.4"
tempfile = "3.5.0"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
xmtp_api_grpc = { path = "../xmtp_api_grpc" }
xmtp_id = { path = "../xmtp_id", features = ["test-utils"] }
async-barrier = "1.1"
anyhow.workspace = true
