[package]
edition = "2021"
name = "xmtp_mls"
version = "0.1.0"

[[bin]]
doc = false
name = "update-schema"
path = "src/bin/update-schema.rs"

[features]
default = ["native"]
grpc = ["xmtp_proto/grpc"]
native = ["libsqlite3-sys/bundled-sqlcipher-vendored-openssl"]
test-utils = []
bench = ["test-utils", "indicatif", "tracing-subscriber", "anyhow", "tracing-flame", "once_cell", "xmtp_api_grpc"]
http-api = ["xmtp_api_http"]

[dependencies]
aes-gcm = { version = "0.10.3", features = ["std"] }
async-trait.workspace = true
bincode = "1.3.3"
chrono = { workspace = true }
diesel = { version = "2.2.2", features = [
    "sqlite",
    "r2d2",
    "returning_clauses_for_sqlite_3_35",
] }
diesel_migrations = { version = "2.2.0", features = ["sqlite"] }
ed25519-dalek = "2.1.1"
ethers.workspace = true
ethers-core.workspace = true
futures.workspace = true
parking_lot = "0.12.3"
hex.workspace = true
libsqlite3-sys = { version = "0.29.0", optional = true }
log.workspace = true
tracing.workspace = true
openmls = { workspace = true, features = ["test-utils"] }
openmls_basic_credential = { workspace = true }
openmls_rust_crypto = { workspace = true }
openmls_traits = { workspace = true }
prost = { workspace = true, features = ["prost-derive"] }
rand = { workspace = true }
reqwest = { version = "0.12.4", features = ["stream"] }
ring = "0.17.8"
serde = { workspace = true }
serde_json.workspace = true
sha2.workspace = true
smart-default = "0.7.1"
thiserror = { workspace = true }
tls_codec = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "tracing"] }
tokio-stream = { version = "0.1", features = ["sync"]  }
async-stream.workspace = true
toml = "0.8.4"
xmtp_cryptography = { workspace = true }
xmtp_id = { path = "../xmtp_id" }
xmtp_proto = { workspace = true, features = ["proto_full", "convert"] }
xmtp_v2 = { path = "../xmtp_v2" }

# Test/Bench Utils
xmtp_api_grpc = { path = "../xmtp_api_grpc", optional = true }
xmtp_api_http = { path = "../xmtp_api_http", optional = true }
tracing-subscriber = { workspace = true, optional = true }
indicatif = { version = "0.17", optional = true }
anyhow = { workspace = true, optional = true }
tracing-flame = { version = "0.2", optional = true }
once_cell = { version = "1.19", optional = true }

[dev-dependencies]
ctor.workspace = true
flume = "0.11"
mockall = "0.13.0"
mockito = "1.4.0"
tempfile = "3.5.0"
tracing.workspace = true
tracing-subscriber.workspace = true
tracing-log = "0.2.0"
tracing-test = "0.2.4"
xmtp_api_grpc = { path = "../xmtp_api_grpc" }
xmtp_id = { path = "../xmtp_id", features = ["test-utils"] }
async-barrier = "1.1"
anyhow.workspace = true
criterion = { version = "0.5", features = ["html_reports", "async_tokio"] }

[[bench]]
name = "group_limit"
harness = false

[[bench]]
name = "crypto"
harness = false

