[package]
name = "xmtp_mls"
version = "0.1.0"
edition = "2021"

[[bin]]
doc = false
name = "update-schema"
path = "src/bin/update-schema.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.68"
diesel = { version = "2.0.4", features = ["sqlite", "r2d2", "returning_clauses_for_sqlite_3_35"] }
diesel_migrations = { version = "2.0.0", features = ["sqlite"] }
ethers = "2.0.4"
ethers-core = "2.0.4"
futures = "0.3.28"
hex = "0.4.3"
libsqlite3-sys = { version = "0.26.0", optional = true}
log = "0.4.17"
openmls = { git= "https://github.com/xmtp/openmls", features = ["test-utils"] }
openmls_traits = { git= "https://github.com/xmtp/openmls" }
openmls_basic_credential = { git= "https://github.com/xmtp/openmls" }
openmls_rust_crypto = { git= "https://github.com/xmtp/openmls" }
rand = "0.8.5"
serde = "1.0.160"
serde_json = "1.0.96"
thiserror = "1.0.40"
tokio = { version = "1.28.1", features = ["macros"]  }
toml = "0.7.4"
xmtp_cryptography = { path = "../xmtp_cryptography"}
xmtp_proto = { path = "../xmtp_proto", features = ["proto_full"] }
anyhow = "1.0.71"

[dev-dependencies]
tempfile = "3.5.0"
