[package]
default-run = "xmtp_cli"
edition = "2021"
keywords = ["xmtp", "messaging", "web3", "group-chat"]
license.workspace = true
name = "xmtp_cli"
readme = "README.md"
repository = "https://github.com/xmtp/libxmtp"
version.workspace = true

[[bin]]
name = "xmtp_cli"
path = "cli-client.rs"

[dependencies]
chrono.workspace = true
clap = { version = "4.4.6", features = ["derive"] }
color-eyre = "0.6"
ethers.workspace = true
futures.workspace = true
hex.workspace = true
openmls = { workspace = true }
owo-colors = "4.1"
prost.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
thiserror.workspace = true
timeago = "0.4.1"
tokio.workspace = true
tracing = { workspace = true, features = ["valuable"] }
tracing-subscriber = { workspace = true, features = [
  "json",
  "valuable",
  "env-filter",
  "ansi",
  "chrono",
] }
valuable = { version = "0.1", features = ["derive"] }
valuable-serde = "0.1"
xmtp_api_grpc = { path = "../../xmtp_api_grpc" }
xmtp_common.workspace = true
xmtp_content_types = { path = "../../xmtp_content_types" }
xmtp_cryptography = { path = "../../xmtp_cryptography" }
xmtp_id = { path = "../../xmtp_id" }
xmtp_mls = { path = "../../xmtp_mls" }
xmtp_proto = { path = "../../xmtp_proto", features = ["proto_full"] }
