[package]
default-run = "cli-client"
edition = "2021"
name = "xli"
version = "0.1.0"

[[bin]]
name = "cli-client"
path = "cli-client.rs"

[dependencies]
clap = { version = "4.4.6", features = ["derive"] }
env_logger = "0.10.0"
ethers = "2.0.4"
ethers-core = "2.0.4"
femme = "2.2.1"
futures = "0.3.28"
hex = "0.4.3"
json_env_logger = "0.1.1"
kv-log-macro = "1.0.7"
log = "0.4.17"
prost.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json = "1.0.114"
thiserror = "1.0.40"
timeago = "0.4.1"
tokio = "1.28.1"
tracing-log = "0.2.0"
url = "2.3.1"
walletconnect = { git = "https://github.com/nlordell/walletconnect-rs.git", features = [
    "qr",
    "transport",
] }
xmtp_api_grpc = { path = "../../xmtp_api_grpc" }
xmtp_cryptography = { path = "../../xmtp_cryptography" }
xmtp_mls = { path = "../../xmtp_mls", features = ["grpc", "native"] }
xmtp_proto = { path = "../../xmtp_proto", features = ["proto_full", "grpc"] }
