[package]
default-run = "xmtp_cli"
edition = "2021"
keywords = ["xmtp", "messaging", "web3", "group-chat"]
license = "MIT"
name = "xmtp_cli"
readme = "README.md"
repository = "https://github.com/xmtp/libxmtp"
version = "0.1.0"

[[bin]]
name = "xmtp_cli"
path = "cli-client.rs"

[dependencies]
clap = { version = "4.4.6", features = ["derive"] }
ethers = "2.0.4"
ethers-core = "2.0.4"
femme = "2.2.1"
futures = "0.3.28"
hex = "0.4.3"
kv-log-macro = "1.0.7"
log = { version = "0.4.17", features = [
    "kv_unstable",
    "std",
    "kv_unstable_serde",
] }
prost.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true 
thiserror.workspace = true
timeago = "0.4.1"
tokio = "1.28.1"
url = "2.3.1"
xmtp_api_grpc = { path = "../../xmtp_api_grpc" }
xmtp_cryptography = { path = "../../xmtp_cryptography" }
xmtp_mls = { path = "../../xmtp_mls", features = ["grpc", "native"] }
xmtp_proto = { path = "../../xmtp_proto", features = ["proto_full", "grpc"] }
