[package]
default-run = "xmtp_cli"
edition = "2021"
keywords = ["xmtp", "messaging", "web3", "group-chat"]
license.workspace = true
name = "xmtp_cli"
readme = "README.md"
repository = "https://github.com/xmtp/libxmtp"
version.workspace = true

[[bin]]
name = "xmtp_cli"
path = "cli-client.rs"

[[bin]]
name = "simple_stream_test"
path = "simple_stream_test.rs"

[dependencies]
alloy = { workspace = true, features = ["signer-mnemonic"] }
chrono.workspace = true
clap.workspace = true
color-eyre = "0.6"
futures.workspace = true
hex.workspace = true
openmls = { workspace = true }
owo-colors.workspace = true
prost.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
thiserror.workspace = true
timeago = "0.4.1"
tokio.workspace = true
tracing = { workspace = true, features = ["valuable"] }
tracing-subscriber = { workspace = true, features = [
  "json",
  "valuable",
  "env-filter",
  "ansi",
  "chrono",
] }
valuable = { version = "0.1", features = ["derive"] }
xmtp_api = { workspace = true }
xmtp_api_d14n.workspace = true
xmtp_common.workspace = true
xmtp_configuration.workspace = true
xmtp_content_types = { workspace = true }
xmtp_cryptography = { workspace = true }
xmtp_db = { workspace = true }
xmtp_id = { workspace = true }
xmtp_mls = { workspace = true }
xmtp_proto = { workspace = true }
