[package]
edition = "2021"
name = "xmtp_content_types"
version.workspace = true
license.workspace = true

[dependencies]
thiserror = { workspace = true }
prost = { workspace = true, features = ["prost-derive"] }
rand = { workspace = true }
diesel = { workspace = true }
serde = { workspace = true }

# XMTP/Local
xmtp_proto = { workspace = true, features = ["convert"] }
xmtp_common = { workspace = true }

[dev-dependencies]
xmtp_common = { workspace = true, features = ['test-utils'] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tonic = { version = "0.12", features = ["transport"] }
