[package]
edition = "2021"
name = "xmtp_content_types"
version.workspace = true
license.workspace = true

[dependencies]
thiserror = { workspace = true }
prost = { workspace = true, features = ["prost-derive"] }
rand = { workspace = true }
tonic = { version = "0.12", features = ["transport"] }

# XMTP/Local
xmtp_proto = { workspace = true, features = ["convert"] }

