[package]
edition = "2024"
name = "xmtp_content_types"
version.workspace = true
license.workspace = true

[dependencies]
hex = { workspace = true }
libsecp256k1 = { version = "0.7.1", default-features = false, features = [
  "static-context",
] }
prost = { workspace = true, features = ["prost-derive"] }
rand = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
thiserror = { workspace = true }
tracing.workspace = true
xmtp_cryptography = { path = "../xmtp_cryptography" }
xmtp_v2 = { path = "../xmtp_v2" }

# XMTP/Local
xmtp_common = { workspace = true }
xmtp_proto = { workspace = true, features = ["convert"] }

[dev-dependencies]
xmtp_common = { workspace = true, features = ['test-utils'] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tonic = { version = "0.12", features = ["transport"] }
