# No ctags files
tags

# No vim swap files
*.swp
*.swo

# Ignore intermediate build files
*.a
LibXMTPSwiftFFI.xcframework
/target
/build

# Ignore any swift files in include/Generated
/include/**/*.swift
