# No ctags files
tags

# No vim swap files
*.swp
*.swo

# Ignore intermediate build files
*.a
LibXMTPRust.xcframework
/target
/Cargo.lock
/build

# Ignore any swift files in include/Generated
/include/**/*.swift
