[package]
name = "bindings_ffi"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["lib", "cdylib"]

[dependencies]
uniffi = { git = "https://github.com/mozilla/uniffi-rs", rev = "73caaf7c78c89866603bd7c4fca2bf783698bf71", features = ["tokio", "cli"] }
uniffi_macros = { git = "https://github.com/mozilla/uniffi-rs", rev = "73caaf7c78c89866603bd7c4fca2bf783698bf71" }
xmtp = { path = "../xmtp" }
xmtp_cryptography = { path = "../xmtp_cryptography" }
xmtp_networking = { path = "../xmtp_networking" }

[build_dependencies]
uniffi = { git = "https://github.com/mozilla/uniffi-rs", rev = "73caaf7c78c89866603bd7c4fca2bf783698bf71", features = ["build"] }

[[bin]]
name = "ffi-uniffi-bindgen"
path = "src/bin.rs"

[dev-dependencies]
ethers = "2.0.4"
ethers-core = "2.0.4"
tokio = { version = "1.0", features = ["full"] }
uniffi = { git = "https://github.com/mozilla/uniffi-rs", rev = "73caaf7c78c89866603bd7c4fca2bf783698bf71", features = ["bindgen-tests"] }

# NOTE: Thei release profile reduce bundle size from 230M to 41M - may have performance impliciations
# https://stackoverflow.com/a/54842093
[profile.release]
opt-level = 'z'     # Optimize for size
lto = true          # Enable link-time optimization
codegen-units = 1   # Reduce number of codegen units to increase optimizations
panic = 'abort'     # Abort on panic
strip = true        # Strip symbols from binary*
