[package]
name = "xmtp_api_d14n"
edition = "2021"
license.workspace = true
version.workspace = true

[dependencies]
async-trait.workspace = true
derive_builder = "0.20"
once_cell.workspace = true
parking_lot.workspace = true
prost.workspace = true
prost-types.workspace = true
xmtp_proto.workspace = true

[dev-dependencies]
xmtp_api_grpc.workspace = true
tokio.workspace = true

[features]
http-api = []
grpc-api = []
