[package]
name = "xmtp"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = "1.0.160"
serde_json = "1.0.96"
thiserror = "1.0.40"
vodozemac = {git= "https://github.com/xmtp/vodozemac", branch="dev"}
xmtp_proto = { path = "../xmtp_proto", features = ["xmtp-v3-message_contents"] }
xmtp_networking = { path = "../xmtp_networking" }
async-trait = "0.1.68"
xmtp_cryptography = { path = "../xmtp_cryptography"}
hex = "0.4.3"
ethers = "2.0.4"
ethers-core = "2.0.4"
prost = { version = "0.11", features = ["prost-derive"] }

[dev-dependencies]
tokio = {version="1.28.1", features=["rt", "macros"]}
uuid = { version = "1.3.1", features = ["v4", "fast-rng"] }
