[package]
name = "xmtp"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
vodozemac = {git= "https://github.com/xmtp/vodozemac", branch="dev"}
xmtp_proto = { path = "../xmtp_proto", features = ["xmtp-v3-message_contents"] }
