# .editorconfig
root = true

[**/xmtpv3.kt]
ktlint = disabled

[*.{kt,kts}]
charset = utf-8
indent_size = 4
indent_style = space
max_line_length = 120
end_of_line = lf
insert_final_newline = true
ij_kotlin_allow_trailing_comma = true
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^
ij_kotlin_continuation_indent_size = 4

# Ktlint defaults and common rules
ktlint_code_style = ktlint_official
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_package-name = disabled
ktlint_standard_filename = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_enum-entry-name-case = disabled
ktlint_standard_backing-property-naming = disabled

[*.{xml,gradle,md}]
end_of_line = lf
insert_final_newline = true

[*.gradle.kts]
indent_size = 2
