# No ctags files
tags

# No vim swap files
*.swp
*.swo

# Ignore intermediate build files
*.a
XMTPRustSwift.xcframework
bundle.zip

/target
/Cargo.lock
.build

# Ignore swift files in include/
./include/Generated/*.swift
./include/Generated/xmtp_rust_swift/*.swift

# Ignore Generated, gets rebuilt on cargo build
./Generated
