[package]
edition = "2021"
license.workspace = true
name = "xmtp_proto"
version.workspace = true

[dependencies]
async-trait.workspace = true
derive_builder.workspace = true
ed25519-dalek.workspace = true
futures = { workspace = true }
hex.workspace = true
http = "1.2"
mockall = { workspace = true, optional = true }
openmls_rust_crypto = { workspace = true, optional = true }
pbjson.workspace = true
pbjson-types.workspace = true
prost = { workspace = true, features = ["prost-derive"] }
serde = { workspace = true }
thiserror.workspace = true
tonic = { workspace = true, default-features = false }
tracing.workspace = true
xmtp_common.workspace = true

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
openmls = { workspace = true }
tonic = { workspace = true, features = [
  "codegen",
  "server",
  "channel",
  "prost",
] }

[dev-dependencies]
mockall = { workspace = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
openmls = { workspace = true, features = ["js"] }

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test.workspace = true

[features]
convert = ["openmls_rust_crypto", "proto_full"]
default = ["proto_full"]
test-utils = ["xmtp_common/test-utils", "dep:mockall"]
http-api = []
grpc-api = []

# @@protoc_deletion_point(features)
# This section is automatically generated by protoc-gen-prost-crate.
# Changes in this area may be lost on regeneration.
proto_full = [
  "xmtp-device_sync",
  "xmtp-device_sync-consent_backup",
  "xmtp-device_sync-content",
  "xmtp-device_sync-event_backup",
  "xmtp-device_sync-group_backup",
  "xmtp-device_sync-message_backup",
  "xmtp-identity",
  "xmtp-identity-api-v1",
  "xmtp-identity-associations",
  "xmtp-keystore_api-v1",
  "xmtp-message_api-v1",
  "xmtp-message_contents",
  "xmtp-mls-api-v1",
  "xmtp-mls-database",
  "xmtp-mls-message_contents",
  "xmtp-mls-message_contents-content_types",
  "xmtp-mls_validation-v1",
  "xmtp-xmtpv4-envelopes",
  "xmtp-xmtpv4-message_api",
  "xmtp-xmtpv4-metadata_api",
  "xmtp-xmtpv4-payer_api",
]
"xmtp-device_sync" = [
  "xmtp-device_sync-consent_backup",
  "xmtp-device_sync-event_backup",
  "xmtp-device_sync-group_backup",
  "xmtp-device_sync-message_backup",
]
"xmtp-device_sync-consent_backup" = ["xmtp-device_sync"]
"xmtp-device_sync-content" = [
  "xmtp-device_sync",
  "xmtp-device_sync-consent_backup",
]
"xmtp-device_sync-event_backup" = ["xmtp-device_sync"]
"xmtp-device_sync-group_backup" = ["xmtp-device_sync"]
"xmtp-device_sync-message_backup" = ["xmtp-device_sync"]
"xmtp-identity" = []
"xmtp-identity-api-v1" = ["xmtp-identity", "xmtp-identity-associations"]
"xmtp-identity-associations" = ["xmtp-identity", "xmtp-message_contents"]
"xmtp-keystore_api-v1" = ["xmtp-message_contents"]
"xmtp-message_api-v1" = ["xmtp-message_contents"]
"xmtp-message_contents" = []
"xmtp-mls-api-v1" = ["xmtp-message_contents"]
"xmtp-mls-database" = []
"xmtp-mls-message_contents" = []
"xmtp-mls-message_contents-content_types" = ["xmtp-mls-message_contents"]
"xmtp-mls_validation-v1" = [
  "xmtp-identity-api-v1",
  "xmtp-identity-associations",
]
"xmtp-xmtpv4-envelopes" = ["xmtp-identity-associations", "xmtp-mls-api-v1"]
"xmtp-xmtpv4-message_api" = [
  "xmtp-identity-associations",
  "xmtp-xmtpv4-envelopes",
]
"xmtp-xmtpv4-metadata_api" = ["xmtp-xmtpv4-envelopes"]
"xmtp-xmtpv4-payer_api" = ["xmtp-xmtpv4-envelopes"]
## @@protoc_insertion_point(features)
