[package]
edition = "2021"
name = "xmtp_api_grpc"
version = "0.1.0"

[dependencies]
async-stream = "0.3.5"
base64 = "0.21.0"
futures = "0.3.29"
hex.workspace = true
http-body = "0.4.5"
hyper = "0.14.26"
log = { version = "0.4", features = ["std"] }
pbjson = "0.5.1"
pbjson-types = "0.5.1"
prost = { workspace = true, features = ["prost-derive"] }
serde = { version = "1.0.160", features = ["derive"] }
serde_json = "1.0"
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "time"] }
tonic = { workspace = true, features = [
    "tls",
    "tls-roots",
    "tls-webpki-roots",
] }
tower = "0.4.13"
webpki-roots = "0.23.0"
xmtp_proto = { path = "../xmtp_proto", features = ["proto_full", "grpc"] }
xmtp_v2 = { path = "../xmtp_v2" }

[dev-dependencies]
uuid = { version = "1.3.1", features = ["v4"] }
