[profile.default]
default-filter = "not test(test_stream_all_messages_does_not_lose_messages)"
retries = 0

[profile.ci]
default-filter = "not test(test_stream_all_messages_does_not_lose_messages)"
retries = 0
status-level = "skip"
failure-output = "immediate-final"
fail-fast = false


[[profile.ci.overrides]]
platform = 'wasm32-unknown-unkown'
slow-timeout = "1m"
