[profile.default]
default-filter = "not test(test_stream_all_messages_does_not_lose_messages)"
retries = { backoff = "exponential", count = 3, delay = "3s", max-delay = "20s", jitter = true }
failure-output = "final"
fail-fast = false

[profile.ci]
slow-timeout = "90sec"
failure-output = "immediate-final"
fail-fast = false

[[profile.ci.overrides]]
platform = 'cfg(all(target_family = "wasm", target_os = "unknown"))'
slow-timeout = "1m"

# test_db_migrates experiences random failures b/c of 'corrupted double-linked list' coming from glibc/sqlcipher https://github.com/xmtp/libxmtp/issues/2402
[[profile.ci.overrides]]
filter = 'test(/\btest_db_migrates/)'
retries = 3

[profile.ci-d14n]
slow-timeout = "90sec"
default-filter = "not (test(/\\w*commit_log*/))"
# inherits = "ci" not supported until latest nextest release
failure-output = "never"
fail-fast = false

[[profile.ci-d14n.overrides]]
platform = 'cfg(all(target_family = "wasm", target_os = "unknown"))'
default-filter = "not (test(/\\w*commit_log*/))"
