[package]
edition = "2024"
name = "bindings_node"
version.workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
# Default enable napi4 feature, see https://nodejs.org/api/n-api.html#node-api-version-matrix
futures.workspace = true
hex.workspace = true
napi = { version = "2.12.2", default-features = false, features = [
  "napi4",
  "napi6",
  "async",
] }
napi-derive = "2.12.2"
prost.workspace = true
tokio = { workspace = true, features = ["sync"] }
tracing.workspace = true
tracing-subscriber = { workspace = true, features = [
  "env-filter",
  "fmt",
  "json",
  "chrono",
] }
xmtp_api.workspace = true
xmtp_api_grpc.workspace = true
xmtp_common.workspace = true
xmtp_cryptography.workspace = true
xmtp_id.workspace = true
xmtp_mls.workspace = true
xmtp_proto = { workspace = true, features = ["proto_full"] }

[build-dependencies]
napi-build = "2.0.1"

[package.metadata.cross.build.env]
volumes = ["__LIB12_DEP=../"]
