[package]
edition = "2021"
name = "mls_validation_service"
version = "0.1.0"

[[bin]] # Bin to run the Validation Service
name = "mls-validation-service"
path = "src/main.rs"

[dependencies]
clap = { version = "4.4.6", features = ["derive"] }
env_logger = "0.10.0"
hex = { workspace = true }
hyper = "1.1.0"
log = { workspace = true }
openmls = { workspace = true }
openmls_basic_credential = { workspace = true }
openmls_rust_crypto = { workspace = true }
openmls_traits = { workspace = true }
prost = { version = "^0.12", features = ["prost-derive"] }
serde = { workspace = true }
tokio = { workspace = true, features = ["full"] }
tonic = { workspace = true }
warp = "0.3.6"
xmtp_mls = { path = "../xmtp_mls" }
xmtp_proto = { path = "../xmtp_proto", features = [
    "proto_full",
    "grpc",
    "tonic",
] }

[dev-dependencies]
ethers = "2.0.13"
rand = { workspace = true }
