[package]
name = "xmtp_db"
edition = "2024"
license.workspace = true
version.workspace = true
description = "SQLite interface for XMTP"

[lints]
workspace = true

[[bin]]
doc = false
name = "update-schema"
path = "src/bin/update-schema.rs"
required-features = ["update-schema"]


[dependencies]
arc-swap.workspace = true
bincode.workspace = true
bon.workspace = true
ctor.workspace = true
derive_builder.workspace = true
diesel = { workspace = true, features = [
  "returning_clauses_for_sqlite_3_35",
  "sqlite",
  "32-column-tables",
  "serde_json",
] }
diesel_migrations = { workspace = true, features = ["sqlite"] }
hex.workspace = true
itertools.workspace = true
openmls.workspace = true
openmls_basic_credential.workspace = true
openmls_rust_crypto.workspace = true
openmls_traits = { workspace = true }
parking_lot.workspace = true
prost.workspace = true
rand.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
tracing.workspace = true
xmtp-workspace-hack = { version = "0.1", path = "../xmtp-workspace-hack" }
xmtp_common.workspace = true
xmtp_configuration.workspace = true
xmtp_content_types.workspace = true
xmtp_proto.workspace = true
zeroize.workspace = true

ascii_table = { version = "5", optional = true, features = [
  "auto_table_width",
] }
futures = { workspace = true, optional = true }
mockall = { workspace = true, optional = true }
tokio = { workspace = true, optional = true, features = [
  "macros",
  "tracing",
  "rt-multi-thread",
  "sync",
] }
toml = { version = "1", optional = true }

[target.'cfg(not(all(target_family = "wasm", target_os = "unknown")))'.dependencies]
diesel = { workspace = true, features = ["r2d2"] }
dyn-clone.workspace = true
rusqlite = { version = "0.37.0", features = [
  "bundled-sqlcipher-vendored-openssl",
] }

[target.'cfg(all(target_family = "wasm", target_os = "unknown"))'.dependencies]
tokio.workspace = true
web-sys = { workspace = true, features = ["DomException"] }
wasm-bindgen = { workspace = true }

[dev-dependencies]
ascii_table = { version = "5", features = ["auto_table_width"] }
futures.workspace = true
futures-timer.workspace = true
mockall = { workspace = true }
rstest.workspace = true
xmtp_cryptography.workspace = true
xmtp_db = { workspace = true, features = ["test-utils"] }

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
tokio = { workspace = true, features = [
  "macros",
  "tracing",
  "rt",
  "rt-multi-thread",
] }

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test.workspace = true

[features]
update-schema = ["dep:toml"]
test-utils = [
  "dep:futures",
  "xmtp_common/test-utils",
  "dep:mockall",
  "dep:ascii_table",
  "xmtp_configuration/test-utils",
  "xmtp_cryptography/test-utils",
]
