[package]
edition = "2024"
license.workspace = true
name = "xmtp_mls"
version.workspace = true
description = "XMTP core MLS Implementation on top of openmls"

[lints]
workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
targets = [
  "x86_64-unknown-linux-gnu",
  "wasm32-unknown-unknown",
  "aarch64-apple-darwin",
]

[features]
test-utils = [
  "tracing-subscriber",
  "xmtp_id/test-utils",
  "xmtp_db/test-utils",
  "xmtp_proto/test-utils",
  "xmtp_api/test-utils",
  "xmtp_api_grpc/test-utils",
  "xmtp_configuration/test-utils",
  "xmtp_common/test-utils",
  "xmtp_api_d14n/test-utils",
  "xmtp_content_types/test-utils",
  "dep:alloy",
  "dep:passkey",
  "dep:coset",
  "dep:url",
  "dep:public-suffix",
  "dep:futures-executor",
  "dep:mockall",
  "dep:rstest",
  "dep:toxiproxy_rust",
]
bench = [
  "test-utils",
  "indicatif",
  "tracing-subscriber",
  "criterion",
  "dep:fdlimit",
  "dep:alloy",
  "xmtp_common/bench",
]
default = []
d14n = ["xmtp_api_d14n/d14n"]
v3 = ["xmtp_api_d14n/v3"]
dev = ["xmtp_configuration/dev", "xmtp_proto/dev", "xmtp_api_d14n/dev"]

[dependencies]
aes-gcm.workspace = true
async-trait.workspace = true
bincode.workspace = true
bytes.workspace = true
derive_builder.workspace = true
futures = { workspace = true, features = ["alloc", "std"] }
futures-util.workspace = true
hex.workspace = true
hkdf.workspace = true
hpke-rs.workspace = true
itertools.workspace = true
openmls_libcrux_crypto = { workspace = true }
openmls_rust_crypto = { workspace = true }
openmls_traits = { workspace = true }
owo-colors.workspace = true
parking_lot.workspace = true
pin-project-lite.workspace = true
prost = { workspace = true, features = ["derive"] }
rand = { workspace = true }
reqwest = { workspace = true, features = ["rustls"] }
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
sha2.workspace = true
thiserror = { workspace = true }
time.workspace = true
tls_codec = { workspace = true }
tokio-stream = { workspace = true, default-features = false, features = [
  "sync",
] }
tokio-util.workspace = true
tracing.workspace = true
trait-variant.workspace = true
zeroize.workspace = true

# XMTP/Local
xmtp_api = { workspace = true }
xmtp_api_d14n = { workspace = true }
xmtp_api_grpc = { workspace = true }
xmtp_archive.workspace = true
xmtp_common.workspace = true
xmtp_configuration.workspace = true
xmtp_content_types.workspace = true
xmtp_cryptography = { workspace = true }
xmtp_db.workspace = true
xmtp_id.workspace = true
xmtp_macro.workspace = true
xmtp_mls_common.workspace = true
xmtp_proto = { workspace = true }

# Optional/Features
alloy = { workspace = true, optional = true }
coset = { version = "0.3", optional = true }
fdlimit = { workspace = true, optional = true }
futures-executor = { version = "0.3", optional = true }
mockall = { workspace = true, optional = true }
passkey = { version = "0.4", optional = true }
public-suffix = { version = "0.1.2", optional = true }
rstest = { workspace = true, features = ["async-timeout"], optional = true }
url = { workspace = true, optional = true }

# Test/Bench Utils
criterion = { workspace = true, optional = true }
hmac = "0.12.1"
indicatif = { workspace = true, optional = true }
toxiproxy_rust = { workspace = true, optional = true }
tracing-subscriber = { workspace = true, features = [
  "env-filter",
  "fmt",
  "ansi",
  "json",
  "registry",
], optional = true }
xmtp-workspace-hack = { version = "0.1", path = "../xmtp-workspace-hack" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { workspace = true, features = [
  "macros",
  "tracing",
  "rt",
  "rt-multi-thread",
] }
chrono = { workspace = true, features = ["clock"] }
dyn-clone.workspace = true
openmls.workspace = true


[target.'cfg(all(target_family = "wasm", target_os = "unknown"))'.dependencies]
chrono = { workspace = true, features = ["wasmbind"] }
getrandom = { workspace = true }
openmls = { workspace = true, features = ["js"] }
tokio = { workspace = true, features = ["macros", "rt", "time"] }
wasm-bindgen-futures.workspace = true
web-sys.workspace = true

[dev-dependencies]
alloy.workspace = true
coset = { version = "0.3" }
diesel = { workspace = true, features = [
  "returning_clauses_for_sqlite_3_35",
  "sqlite",
  "32-column-tables",
] }
fdlimit = { workspace = true }
futures-executor = { version = "0.3" }
futures-test = "0.3.31"
futures-timer.workspace = true
mockall.workspace = true
once_cell.workspace = true
openmls = { workspace = true, features = ["test-utils"] }
openmls_basic_credential.workspace = true
passkey = { version = "0.4" }
public-suffix = { version = "0.1.2" }
rstest = { workspace = true, features = ["async-timeout"] }
rstest_reuse = { workspace = true }
toxiproxy_rust = { workspace = true }
url = { workspace = true }
wasm-bindgen-test.workspace = true
xmtp_api = { workspace = true, features = ["test-utils"] }
xmtp_api_d14n = { workspace = true, features = ["test-utils"] }
xmtp_common = { workspace = true, features = ["test-utils"] }
xmtp_configuration = { workspace = true, features = ["test-utils"] }
xmtp_content_types = { path = "../xmtp_content_types", features = [
  "test-utils",
] }
xmtp_db = { workspace = true, features = ["test-utils"] }
xmtp_db_test.workspace = true
xmtp_id = { path = "../xmtp_id", features = ["test-utils"] }
xmtp_proto = { workspace = true, features = ["test-utils"] }
# Required for traced_test! macro
tracing-subscriber = { workspace = true }
xmtp_api_grpc = { workspace = true, features = ["test-utils"] }


[target.'cfg(not(all(target_family = "wasm", target_os = "unknown")))'.dev-dependencies]
ctor.workspace = true
mockito = "1.6.1"
openmls = { workspace = true }
tempfile = "3.15.0"

[target.'cfg(all(target_family = "wasm", target_os = "unknown"))'.dev-dependencies]
openmls = { workspace = true, features = ["js"] }
tracing-subscriber = { workspace = true, features = ["env-filter", "json"] }
wasm-bindgen-test.workspace = true
futures-timer = { version = "3.0.3", features = ["wasm-bindgen"] }

[[bench]]
harness = false
name = "group_limit"
required-features = ["bench"]

[[bench]]
harness = false
name = "crypto"
required-features = ["bench"]

[[bench]]
harness = false
name = "identity"
required-features = ["bench"]

[[bench]]
harness = false
name = "groups"
required-features = ["bench"]

[[bench]]
harness = false
name = "messages"
required-features = ["bench"]

[[bench]]
harness = false
name = "consent"
required-features = ["bench"]

[[bench]]
harness = false
name = "sync_conversations"
required-features = ["bench"]

[[test]]
harness = true
name = "chaos"
required-features = ["test-utils"]

doctest = false
#[[bench]]
#harness = false
#name = "sync"
#required-features = ["bench"]
