name: Cargo-Deny Checker
on:
  push:
    branches:
      - main
      - release/*
  pull_request:
  workflow_dispatch:
jobs:
  cargo-deny:
    runs-on: warp-ubuntu-latest-x64-16x
    strategy:
      matrix:
        checks:
          - advisories
          - bans
          - licenses
          - sources
    steps:
      - uses: actions/checkout@v4
      # Install Rust toolchain
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      # Run cargo-deny with the installed toolchain
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          command: check ${{ matrix.checks }}
          rust-version: stable # Use the stable toolchain we just installed

    # Prevent sudden announcement of a new advisory from failing CI
    continue-on-error: ${{ matrix.checks == 'advisories' }}
