name: Check iOS & Android Bindings
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - ".github/workflows/check-ios-android-bindings.yml"
      - "bindings/mobile/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - "dev/up"
      - "dev/docker/**"
      - "rust-toolchain.toml"
      - ".cargo/**"
env:
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"
jobs:
  check-swift:
    runs-on: warp-macos-13-arm64-6x
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-apple-darwin
          - aarch64-apple-darwin
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
       - uses: nixbuild/nix-quick-install-action@v34
       - run: nix build --version
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Build target
        run: |
          nix develop .#ios --accept-flake-config --command \
            cargo check --target ${{ matrix.target }} --manifest-path bindings/mobile/Cargo.toml
  check-android:
    runs-on: warp-ubuntu-latest-x64-16x
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-linux-android
          # We can add other targets later by making a pkg derivation and configuring LD_LIBRARY_PATH
          # according to https://github.com/bburdette/tauri-zknotes/blob/7aa3495dc2c8a266d81c2fa3e51ae347e9c2597d/flake.nix#L158
          # but this is good for just checking to ensure it compiles on this target
          # Can also run android emulator here after cloning xmtp-android
    steps:
      - name: Checkout
        uses: actions/checkout@v6
       - uses: nixbuild/nix-quick-install-action@v34
       - run: nix build --version
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - uses: cachix/cachix-action@v16
        with:
          name: xmtp
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - uses: nix-community/cache-nix-action@v6
        with:
          primary-key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          paths: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
      - name: check target
        run: |
          nix develop .#android --accept-flake-config --command \
            cargo check --target ${{ matrix.target }} --manifest-path bindings/mobile/Cargo.toml
