name: Check iOS & Android Bindings
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "bindings_ffi/**"
      - "Cargo.toml"
      - "Cargo.lock"
jobs:
  check-swift:
    runs-on: warp-macos-13-arm64-6x
    strategy:
      fail-fast: false
      matrix:
        target:
          - aarch64-apple-ios
          - x86_64-apple-ios
          - aarch64-apple-ios-sim
          - x86_64-apple-darwin
          - aarch64-apple-darwin
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v30
        with:
          # Mostly to avoid GitHub rate limiting
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: DeterminateSystems/magic-nix-cache-action@v9
      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            .
      - name: Build target
        run: |
          nix develop . --command \
            cargo check --target ${{ matrix.target }} --manifest-path bindings_ffi/Cargo.toml
  check-android:
    runs-on: warp-ubuntu-latest-x64-16x
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-linux-android
          # We can add other targets later by making a pkg derivation and configuring LD_LIBRARY_PATH
          # according to https://github.com/bburdette/tauri-zknotes/blob/7aa3495dc2c8a266d81c2fa3e51ae347e9c2597d/flake.nix#L158
          # but this is good for just checking to ensure it compiles on this target
  steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Nix
      uses: cachix/install-nix-action@v30
      with:
        # Mostly to avoid GitHub rate limiting
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    - uses: DeterminateSystems/magic-nix-cache-action@v9
    - name: Cache
      uses: Swatinem/rust-cache@v2
      with:
        workspaces: |
          .
    - name: check target
      run: |
        nix develop .#android --command \
          cargo check --target ${{ matrix.target }} --manifest-path bindings_ffi/Cargo.toml
