on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - v?[0-9]+.[0-9]+.[0-9]+*
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  flakehub-publish:
    strategy:
      matrix:
        os:
          [
            warp-ubuntu-latest-x64-16x,
            warp-macos-15-arm64-6x,
            warp-ubuntu-latest-arm64-16x,
          ]
     runs-on: ${{ matrix.os }}
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: nixbuild/nix-quick-install-action@v34
        with:
          nix_conf: |
            extra-substituters = https://cache.garnix.io https://xmtp.cachix.org
            extra-trusted-public-keys = cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g= xmtp.cachix.org-1:nFPFrqLQ9kjYQKiWL7gKq6llcNEeaV4iI+Ka1F+Tmq0=
      - run: nix build --version
      - name: Install omnix
        run: nix profile install nixpkgs#omnix
      - name: build all flake outputs
        run: om ci run --include-all-dependencies --results=om.json
      - name: push to cachix
        if: env.BRANCH_NAME == 'main'
        run: nix run github:juspay/cachix-push -- --cache xmtp --subflake omnix --prefix "$BRANCH_NAME" < om.json
        env:
          CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
