name: Lint TOML
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "**/*.toml"
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: taiki-e/install-action@v2
        with:
          tool: taplo-cli@0.9.3
      - name: Run format check
        run: taplo format --check --diff
      - name: Run validation check
        run: taplo check
