name: Lint WASM Bindings
on:
  pull_request:
    paths:
      - "bindings_wasm/**"
      - ".github/workflows/lint-wasm-bindings.yaml"
      - "rustfmt.toml"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".cargo/**"
      - "rust-toolchain.toml"
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_TEST_DEBUG: 0
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Update rust toolchains
        run: |
          rustup update
          rustup target add wasm32-unknown-unknown
      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            bindings_wasm
      - name: Install emscripten toolchains
        run: |
          git clone https://github.com/emscripten-core/emsdk.git
          cd emsdk
          ./emsdk install latest
          ./emsdk activate latest
      - name: Run clippy and fail on warnings
        run: |
          source ./emsdk/emsdk_env.sh
          cargo clippy --locked --manifest-path bindings_wasm/Cargo.toml --all-features --target wasm32-unknown-unknown --no-deps -- -D warnings
      - name: Run format check
        run: cargo fmt --manifest-path bindings_wasm/Cargo.toml --check
      - name: Install dependencies
        working-directory: bindings_wasm
        run: yarn
      - name: Run typecheck on typescript files
        working-directory: bindings_wasm
        run: yarn typecheck
      - name: Run format check on typescript files
        working-directory: bindings_wasm
        run: yarn format:check
