name: Lint iOS

on:
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-nix
        with:
          github-token: ${{ github.token }}
      - name: Run SwiftLint
        run: ./sdks/ios/dev/lint
      - name: Check SwiftFormat
        run: ./sdks/ios/dev/fmt --lint
