name: Lint Workspace
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - ".github/workflows/lint-workspace.yaml"
      - "apps/mls_validation_service/**"
      - "crates/xmtp_api_grpc/**"
      - "crates/xmtp_cryptography/**"
      - "crates/xmtp_id/**"
      - "crates/xmtp_mls/**"
      - "crates/xmtp_db/**"
      - "crates/xmtp_api/**"
      - "crates/xmtp_api_d14n/**"
      - "crates/xmtp_content_types/**"
      - "crates/xmtp_proto/**"
      - "crates/xmtp_debug/**"
      - "crates/db_tools/**"
      - "bindings/node/**"
      - "bindings/mobile/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".cargo/**"
      - "rust-toolchain.toml"
      - "rustfmt.toml"
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: -D warnings --cfg tracing_unstable
  CARGO_PROFILE_TEST_DEBUG: 0
jobs:
  lint:
    name: Lint
    runs-on: warp-ubuntu-latest-x64-16x
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Update rust toolchains
        run: rustup update
      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            .
      - name: Run clippy and fail on warnings
        # Exclude bindings_wasm since it only compiles for wasm32
        run: cargo clippy --locked --workspace --all-features --all-targets --no-deps --exclude bindings_wasm -- -D warnings
      - name: Run format check
        run: cargo fmt --check
