name: Lint Node Bindings

on:
  pull_request:
    paths:
      - "bindings_node/**"
      - ".github/workflows/lint-node-bindings.yaml"
      - "rustfmt.toml"

jobs:
  lint:
    name: Lint
    runs-on: warp-ubuntu-latest-x64-16x
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update rust toolchains
        run: rustup update

      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            .
            bindings_node

      - name: Run clippy and fail on warnings
        run: cargo clippy --manifest-path bindings_node/Cargo.toml --all-features --all-targets --no-deps -- -Dwarnings

      - name: Run format check
        run: cargo fmt --manifest-path bindings_node/Cargo.toml --check

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"
          cache-dependency-path: "bindings_node/yarn.lock"
          cache: "yarn"
        env:
          SKIP_YARN_COREPACK_CHECK: "1"

      - name: Enable corepack
        run: corepack enable

      - name: Install dependencies
        working-directory: bindings_node
        run: |
          yarn

      - name: Format check
        working-directory: bindings_node
        run: |
          yarn format:check
