name: No Op
on:
  pull_request:
    # ignore code and workflow changes that trigger real CI jobs
    paths:
      - "**"
      # Workflow files that trigger on PRs
      - "!.github/workflows/test-workspace.yml"
      - "!.github/workflows/test-node-bindings.yml"
      - "!.github/workflows/test-webassembly.yml"
      - "!.github/workflows/test-ios.yaml"
      - "!.github/workflows/lint-workspace.yaml"
      - "!.github/workflows/lint-node-bindings.yaml"
      - "!.github/workflows/lint-wasm-bindings.yaml"
      - "!.github/workflows/lint-ios.yaml"
      - "!.github/workflows/lint-toml.yml"
      - "!.github/workflows/check-ios-android-bindings.yml"
      # Source paths that trigger real test/lint workflows
      - "!bindings/**"
      - "!crates/**"
      - "!apps/mls_validation_service/**"
      - "!sdks/ios/**"
      - "!dev/up"
      - "!dev/docker/**"
      - "!Package.swift"
      - "!.node-version"
      - "!Cargo.lock"
      - "!.cargo/**"
      - "!**/*.toml"
# Test and Lint steps are required for pull requests, but some file changes
# don't require them to run. These jobs define the required steps for these
# cases, but don't actually do anything.
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - run: echo "Nothing to test"
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - run: echo "Nothing to lint"
