name: Test Workspace
on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    # only run tests when related changes are made
    paths:
      - ".github/workflows/test-workspace.yml"
      - "dev/**"
      - "mls_validation_service/**"
      - "xmtp_api_grpc/**"
      - "xmtp_cryptography/**"
      - "xmtp_id/**"
      - "xmtp_mls/**"
      - "xmtp_proto/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".cargo/**"
      - "rust-toolchain.toml"
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: --cfg tracing_unstable
  CARGO_PROFILE_TEST_DEBUG: 0
jobs:
  test:
    name: Test
    runs-on: warp-ubuntu-latest-x64-16x
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update rust toolchains
        run: rustup update
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            .
      - name: Start Docker containers
        run: |
          dev/build_validation_service_local
          dev/docker/up
      - name: Install nextest
        uses: taiki-e/install-action@nextest
      - name: build tests
        run: cargo nextest --config-file ".cargo/nextest.toml" run --no-run --workspace --tests --exclude xmtpv3 --exclude bindings_node --exclude bindings_wasm
      - name: cargo test
        run: cargo nextest --config-file ".cargo/nextest.toml" run --workspace --test-threads 2 --exclude xmtpv3 --exclude bindings_node --exclude bindings_wasm
