name: Test Workspace
on:
  workflow_call:
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: --cfg tracing_unstable
  CARGO_PROFILE_TEST_DEBUG: 0
jobs:
  test:
    name: Test (Rust Workspace)
    runs-on: warp-ubuntu-latest-x64-16x
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - uses: ./.github/actions/setup-rust
        with:
          warp: "true"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            network=host
      - name: Start Docker containers
        run: |
          dev/build_validation_service_local
          dev/docker/up
      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2
      - name: Install nextest
        uses: taiki-e/install-action@nextest
      - name: Install cargo llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: test workspace with v3
        run: cargo llvm-cov nextest --no-fail-fast --no-report --profile ci --workspace --exclude bindings_wasm --exclude xnet-gui
      - name: test workspace with decentralization
        run: |
          cargo llvm-cov nextest \
          --features d14n --no-fail-fast --no-report --profile ci-d14n \
          -E 'package(xmtp_mls)' -E 'rdeps(xmtp_mls)' \
          --workspace --exclude bindings_wasm --exclude xnet-gui
      - name: generate coverage
        run: cargo llvm-cov report --output-path lcov.info --lcov
      - name: upload coverage
        uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
