name: Test workspace with HTTP
on:
  push:
    branches:
      - main
  pull_request:
    # only run tests when related changes are made
    paths:
      - ".github/workflows/test-workspace.yml"
      - "dev/**"
      - "mls_validation_service/**"
      - "xmtp_api_http/**"
      - "xmtp_cryptography/**"
      - "xmtp_id/**"
      - "xmtp_mls/**"
      - "xmtp_proto/**"
      - "xmtp_v2/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - "rust-toolchain"
jobs:
  test:
    name: Test
    runs-on: warp-ubuntu-latest-x64-16x
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update rust toolchains
        run: rustup update
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            .
      - name: Start Docker containers
        run: dev/up
      - name: Run cargo test on main workspace
        run: cargo test --workspace --exclude xmtp_api_grpc --features http-api -- --test-threads=4
