name: Test Node
on:
  workflow_call:
jobs:
  test:
    name: Test (Node)
    runs-on: warp-ubuntu-latest-x64-16x
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: ./.github/actions/setup-rust
        with:
          workspaces: |
            .
            bindings/node
          warp: "true"
      - name: Start Docker containers
        run: dev/up
      - name: Setup node
        uses: ./.github/actions/setup-node
        with:
          cache-dependency-path: "bindings/node/yarn.lock"
      - name: Install dependencies
        working-directory: bindings/node
        run: |
          yarn
      - name: Run tests
        working-directory: bindings/node
        run: |
          yarn test
