name: Test Workspace
on:
  push:
    branches:
      - main
  pull_request:
    # only run tests when related changes are made
    paths:
      - ".github/workflows/test-workspace.yml"
      - "dev/**"
      - "mls_validation_service/**"
      - "xmtp_api_grpc/**"
      - "xmtp_cryptography/**"
      - "bindings_ffi/**"
      - "xmtp_id/**"
      - "xmtp_mls/**"
      - "xmtp_db/**"
      - "xmtp_api/**"
      - "xmtp_proto/**"
      - "common/**"
      - "xmtp_api_d14n/**"
      - "xmtp_content_types/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".cargo/**"
      - "rust-toolchain.toml"
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: --cfg tracing_unstable
  CARGO_PROFILE_TEST_DEBUG: 0
jobs:
  test:
    name: Test
    runs-on: warp-ubuntu-latest-x64-16x
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Cache
        uses: WarpBuilds/rust-cache@v2
        with:
          workspaces: |
            .
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            network=host
      - name: Start Docker containers
        run: |
          dev/build_validation_service_local
          dev/docker/up
      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2
      - name: Install nextest
        uses: taiki-e/install-action@nextest
      - name: Install cargo llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: test workspace with v3
        run: cargo llvm-cov nextest --no-fail-fast --no-report --profile ci --workspace --exclude bindings_wasm
      - name: test workspace with decentralization
        run: |
          cargo llvm-cov nextest \
          --features d14n --no-fail-fast --no-report --profile ci-d14n \
          -E 'package(xmtp_mls)' -E 'rdeps(xmtp_mls)' \
          --workspace --exclude bindings_wasm
      - name: generate coverage
        run: cargo llvm-cov report --output-path lcov.info --lcov
      - name: upload coverage
        uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
