name: Test Node Bindings
on:
  push:
    branches:
      - main
  pull_request:
    # only run tests when related changes are made
    paths:
      - ".github/workflows/test-node-bindings.yml"
      - "bindings/node/**"
      - "dev/up"
      - "dev/docker/**"
      - "apps/mls_validation_service/**"
      - "crates/xmtp_api_grpc/**"
      - "crates/xmtp_cryptography/**"
      - "crates/xmtp_id/**"
      - "crates/xmtp_mls/**"
      - "crates/xmtp_proto/**"
      - ".node-version"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".cargo/**"
      - "rust-toolchain.toml"
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  test:
    name: Test
    runs-on: warp-ubuntu-latest-x64-16x
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Update rust toolchains
        run: rustup update
      - name: Cache
        uses: WarpBuilds/rust-cache@v2
        with:
          workspaces: |
            .
            bindings/node
      - name: Start Docker containers
        run: dev/up
      - name: Setup node
        uses: ./.github/actions/setup-node
        with:
          cache-dependency-path: "bindings/node/yarn.lock"
      - name: Install dependencies
        working-directory: bindings/node
        run: |
          yarn
      - name: Run tests
        working-directory: bindings/node
        run: |
          yarn test
