name: Test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Update rust toolchain from rust-toolchain file
        run: rustup update

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            .
            bindings_ffi

      - name: Start Docker containers
        run: dev/up

      - name: Setup Kotlin
        run: |
          sudo apt update -q
          sudo apt install -y openjdk-11-jdk
          sudo snap install --classic kotlin
          cd bindings_ffi
          make install-jar
          echo "$(make echo-jar | tail -n 1 | sed -e 's/\.*export //')" >> "$GITHUB_ENV"

      - name: Run cargo test on main workspace
        uses: actions-rs/cargo@v1
        with:
          command: test

      - name: Run cargo test on FFI bindings
        run: |
          export CLASSPATH="${{ env.CLASSPATH }}"
          cargo test --manifest-path bindings_ffi/Cargo.toml
