name: Test Workspace with WebAssembly
on:
  push:
    branches:
      - main
  pull_request:
    # only run tests when related changes are made
    paths:
      - ".github/workflows/test-webassembly.yml"
      - "crates/xmtp_mls/src/**"
      - "crates/xmtp_id/src/**"
      - "crates/xmtp_db/**"
      - "crates/xmtp_api_d14n/**"
      - "crates/xmtp_content_types/**"
      - "crates/xmtp_proto/**"
      - "bindings/wasm/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".cargo/**"
      - "rust-toolchain.toml"
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"
jobs:
  test:
    name: Test
    runs-on: warp-ubuntu-latest-x64-16x
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        # sccache beats swatinem/rust-cache most of the time
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@main
      - name: Run sccache stat for check
        shell: bash
        run: ${SCCACHE_PATH} --show-stats
      - name: Start Docker containers
        run: |
          dev/build_validation_service_local
          dev/docker/up
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          determinate: true
      - uses: DeterminateSystems/flakehub-cache-action@main
      - uses: cachix/cachix-action@v16
        with:
          name: xmtp
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Install omnix
        run: nix profile install nixpkgs#omnix
      - name: run tests
        run: om ci run .#wasm -- --accept-flake-config
      - name: webassembly integration tests
        working-directory: bindings/wasm
        run: |
          yarn
          yarn build:test
          yarn typecheck
          yarn playwright install
          yarn test:integration
