name: Test Node
on:
  workflow_call:
env:
  NIX_DEVSHELL: js
jobs:
  test:
    name: Test (Node)
    runs-on: warp-ubuntu-latest-x64-16x
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: ./.github/actions/setup-nix
        with:
          github-token: ${{ github.token }}
      - uses: taiki-e/install-action@just
      - name: Start backend
        run: just backend up
      - name: Run Node tests
        run: just node test
