name: Publish Validation Service Image

on:
  push:
    branches:
      - main

jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: warp-ubuntu-latest-x64-16x
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ghcr.io/xmtp/mls-validation-service

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        id: push
        with:
          context: .
          file: ./dev/validation_service/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Deploy (dev)
        uses: xmtp-labs/terraform-deployer@v1
        with:
          terraform-token: ${{ secrets.TERRAFORM_TOKEN }}
          terraform-org: xmtp
          terraform-workspace: dev
          variable-name: validation_service_image
          variable-value: "ghcr.io/xmtp/mls-validation-service@${{ steps.push.outputs.digest }}"
          variable-value-required-prefix: "ghcr.io/xmtp/mls-validation-service@sha256:"

      - name: Deploy (production)
        uses: xmtp-labs/terraform-deployer@v1
        with:
          terraform-token: ${{ secrets.TERRAFORM_TOKEN }}
          terraform-org: xmtp
          terraform-workspace: production
          variable-name: validation_service_image
          variable-value: "ghcr.io/xmtp/mls-validation-service@${{ steps.push.outputs.digest }}"
          variable-value-required-prefix: "ghcr.io/xmtp/mls-validation-service@sha256:"
