version: "3.8"
services:
  node:
    # image: xmtp/node-go@sha256:fba4c5f02203d90f25c91982fa1343d1d73c6bfbc3e3da16bd2ccbeef0a0f0f1
    image: xmtp/node-go:latest
    platform: linux/amd64
    environment:
      - GOWAKU-NODEKEY=8a30dcb604b0b53627a5adc054dbf434b446628d4bd1eccc681d223f0550ce67
    command:
      - --store.enable
      - --store.db-connection-string=postgres://postgres:xmtp@db:5432/postgres?sslmode=disable
      - --store.reader-db-connection-string=postgres://postgres:xmtp@db:5432/postgres?sslmode=disable
      - --mls-store.db-connection-string=postgres://postgres:xmtp@mlsdb:5432/postgres?sslmode=disable
      - --mls-validation.grpc-address=validation:50051
      - --api.enable-mls
      - --wait-for-db=30s
      # Disable authn until we have reliable support for generating auth tokens
      # - --api.authn.enable
    ports:
      - 5555:5555
      - 5556:5556
    depends_on:
      - db
  validation:
    image: ghcr.io/xmtp/mls-validation-service:main
    platform: linux/amd64
    build:
      context: ../..
      dockerfile: ./dev/validation_service/local.Dockerfile
    environment:
      ANVIL_URL: "http://anvil:8545"
  anvil:
    build:
      dockerfile: ./anvil.Dockerfile
    platform: linux/amd64
    ports:
      - 8545:8545
  history-server:
    image: ghcr.io/xmtp/message-history-server:main
    platform: linux/amd64
    ports:
      - 5558:5558
  db:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: xmtp
  mlsdb:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: xmtp
  toxiproxy:
    image: ghcr.io/shopify/toxiproxy:2.12.0
    ports:
      - 8474:8474
      - 40000-40400:40000-40400
    depends_on:
      - node
