x-xmtpd-server-image: &x-xmtpd-server-image ghcr.io/xmtp/xmtpd:sha-e2f0de1
x-xmtpd-gateway-image: &x-xmtpd-gateway-image ghcr.io/xmtp/xmtpd-gateway:sha-e2f0de1
x-xmtpd-cli-image: &x-xmtpd-cli-image ghcr.io/xmtp/xmtpd-cli:sha-e2f0de1
x-xmtpd-contracts-image: &x-xmtpd-contracts-image ghcr.io/xmtp/contracts:v0.5.5
x-postgres-image: &x-postgres-image postgres:16
x-redis-image: &x-redis-image redis:7-alpine

networks:
  proxynet:
    external: true
    name: libxmtp-backend
services:
  redis:
    image: *x-redis-image
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    networks:
      - proxynet

  replicationdb:
    image: *x-postgres-image
    environment:
      POSTGRES_PASSWORD: xmtp
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - proxynet

  chain:
    platform: linux/amd64
    image: *x-xmtpd-contracts-image
    networks:
      - proxynet

  register-node-native:
    platform: linux/amd64
    image: *x-xmtpd-cli-image
    env_file:
      - local.env
    volumes:
      - ../environments/anvil.json:/cfg/anvil.json
    command:
      [
        "--config-file=/cfg/anvil.json",
        "--private-key=${ANVIL_ADMIN_KEY}",
        "--rpc-url=${XMTPD_SETTLEMENT_CHAIN_RPC_URL}",
        "nodes",
        "register",
        "--owner-address=${REGISTER_NODE_NATIVE_OWNER_ADDRESS}",
        "--signing-key-pub=${REGISTER_NODE_NATIVE_PUBKEY}",
        "--http-address=${REGISTER_NODE_NATIVE_HTTP_ADDRESS}",
      ]
    networks:
      - proxynet
    depends_on:
      chain:
        condition: service_started
    restart: on-failure

  enable-node-native:
    platform: linux/amd64
    image: *x-xmtpd-cli-image
    env_file:
      - local.env
    volumes:
      - ../environments/anvil.json:/cfg/anvil.json
    command:
      [
        "--config-file=/cfg/anvil.json",
        "--private-key=${ANVIL_ADMIN_KEY}",
        "--rpc-url=${XMTPD_SETTLEMENT_CHAIN_RPC_URL}",
        "nodes",
        "canonical-network",
        "--add",
        "--node-id=100",
      ]
    networks:
      - proxynet
    depends_on:
      chain:
        condition: service_started
      register-node-native:
        condition: service_completed_successfully
    restart: on-failure
  xmtpd:
    platform: linux/amd64
    image: *x-xmtpd-server-image
    env_file:
      - local.env
    volumes:
      - ../environments/anvil.json:/cfg/anvil.json
    environment:
      - "XMTPD_CONTRACTS_CONFIG_FILE_PATH=/cfg/anvil.json"
    depends_on:
      enable-node-native:
        condition: service_completed_successfully
      replicationdb:
        condition: service_healthy
    ports:
      - 5050:5050
      - 5052:5052
    networks:
      - proxynet

  # Gateway runs on the same network namespace as xmtpd.
  # That means it can access xmtpd on localhost:5050, but docker
  # explicitly forbids to publish ports under the gateway service.
  # So we need to publish the port on the xmtpd service.
  gateway:
    platform: linux/amd64
    image: *x-xmtpd-gateway-image
    network_mode: "service:xmtpd"
    env_file:
      - local.env
    volumes:
      - ../environments/anvil.json:/cfg/anvil.json
    environment:
      - "XMTPD_CONTRACTS_CONFIG_FILE_PATH=/cfg/anvil.json"
      - "XMTPD_API_PORT=5052"
    depends_on:
      redis:
        condition: service_healthy
