version: "3.8"

services:
  node:
    build:
      dockerfile: ./dev/docker/Dockerfile
      context: ../../../xmtp-node-go
      args:
        - GO_VERSION=1.20
    # image: xmtp/node-go:latest
    platform: linux/amd64
    environment:
      - GOWAKU-NODEKEY=8a30dcb604b0b53627a5adc054dbf434b446628d4bd1eccc681d223f0550ce67
    command:
      - --store.enable
      - --store.db-connection-string=postgres://postgres:xmtp@db:5432/postgres?sslmode=disable
      - --store.reader-db-connection-string=postgres://postgres:xmtp@db:5432/postgres?sslmode=disable
      - --mls-store.db-connection-string=postgres://postgres:xmtp@mlsdb:5432/postgres?sslmode=disable
      - --mls-validation.grpc-address=validation:50051
      - --api.enable-mls
      - --wait-for-db=30s
    ports:
      - 5555:5555
      - 5556:5556
    depends_on:
      - db

  validation:
    # image: ghcr.io/xmtp/mls-validation-service:main
    platform: linux/amd64
    build:
      context: ../..
      dockerfile: ./dev/validation_service/Dockerfile
    environment:
      ANVIL_URL: "http://anvil:8545"

  anvil:
    build:
      dockerfile: ./anvil.Dockerfile
    platform: linux/amd64
    ports:
      - 8545:8545

  history-server:
    image: ghcr.io/xmtp/message-history-server:main
    platform: linux/amd64
    ports:
      - 5558:5558

  db:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: xmtp

  mlsdb:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: xmtp

  replicationdb:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: xmtp
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  chain:
    platform: linux/amd64
    # note: the SHA here is tied to the XTMPD_CONTRACTS_*_ADDRESSes
    # if you bump the version of anvil-xmtpd you will have to change the contracts
    # you can find them inside the anvil-xmtpd image via `docker exec libxmtp-chain-1 cat contracts.env`
    image: ghcr.io/xmtp/anvil-xmtpd:sha-b943a7a
    command: ["--host", "0.0.0.0"]

  repnode:
    platform: linux/amd64
    # note: avoid using :latest while xmtpd is under development to avoid breaking changes
    image: ghcr.io/xmtp/xmtpd:sha-b943a7a
    environment:
      XMTPD_DB_WRITER_CONNECTION_STRING: "postgres://postgres:xmtp@replicationdb:5432/postgres?sslmode=disable"
      XMTPD_CONTRACTS_RPC_URL: "http://chain:8545"
      XMTPD_CONTRACTS_NODES_ADDRESS: 0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9
      XMTPD_CONTRACTS_MESSAGES_ADDRESS: 0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512
      XMTPD_CONTRACTS_IDENTITY_UPDATES_ADDRESS: 0xCf7Ed3AccA5a467e9e704C703E8D87F634fB0Fc9
      XMTPD_SIGNER_PRIVATE_KEY: 0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
      XMTPD_PAYER_PRIVATE_KEY: 0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
      XMTPD_MLS_VALIDATION_GRPC_ADDRESS: "http://validation:50051"
      XMTPD_PAYER_ENABLE: true
      XMTPD_REPLICATION_ENABLE: true
      XMTPD_INDEXER_ENABLE: true
      XMTPD_SYNC_ENABLE: true
    depends_on:
      chain:
        condition: service_started
      replicationdb:
        condition: service_healthy
    ports:
      - 5050:5050
