networks:
  proxynet:
    name: libxmtp-backend
services:
  node:
    image: ghcr.io/xmtp/node-go:main
    platform: linux/amd64
    environment:
      - GOWAKU-NODEKEY=8a30dcb604b0b53627a5adc054dbf434b446628d4bd1eccc681d223f0550ce67
    command:
      - --store.enable
      - --store.db-connection-string=postgres://postgres:xmtp@db:5432/postgres?sslmode=disable
      - --store.reader-db-connection-string=postgres://postgres:xmtp@db:5432/postgres?sslmode=disable
      - --mls-store.db-connection-string=postgres://postgres:xmtp@mlsdb:5432/postgres?sslmode=disable
      - --mls-validation.grpc-address=validation:50051
      - --api.enable-mls
      - --wait-for-db=30s
      # Disable authn until we have reliable support for generating auth tokens
      # - --api.authn.enable
    ports:
      - 5555:5555
      - 5556:5556
    networks:
      - proxynet
    depends_on:
      - db
  node-web:
    image: envoyproxy/envoy:v1.35.0
    platform: linux/amd64
    depends_on:
      - node
    ports:
      - 5557:5557
      - 9901:9901
    networks:
      - proxynet
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml:ro
    command:
      - "-c /etc/envoy/envoy.yaml"
      - "-l trace"
      - "--log-path /tmp/envoy_info.log"
  validation:
    image: ghcr.io/xmtp/mls-validation-service:main
    pull_policy: never
    environment:
      ANVIL_URL: "http://anvil:8545"
    networks:
      - proxynet
  anvil:
    image: ghcr.io/foundry-rs/foundry
    platform: linux/amd64
    working_dir: /anvil
    entrypoint: ["anvil", "--host", "0.0.0.0", "--base-fee", "100"]
    networks:
      - proxynet
    ports:
      - 8545:8545
  history-server:
    image: ghcr.io/xmtp/message-history-server:main
    platform: linux/amd64
    networks:
      - proxynet
    ports:
      - 5558:5558
  db:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: xmtp
    networks:
      - proxynet
  mlsdb:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: xmtp
    networks:
      - proxynet
  toxiproxy:
    image: ghcr.io/shopify/toxiproxy:2.12.0
    ports:
      - 8474:8474
      - 6010:6010
      - 6020:6020
      - 6030:6030
      - 6040:6040
      - 6050:6050
      - 6060:6060
    networks:
      - proxynet
    depends_on:
      - node
      - node-web
      - xmtpd
      - anvil
      - history-server
    volumes:
      - ./toxiproxy/config.json:/etc/toxiproxy/config.json:ro
    command: ["-host=0.0.0.0", "-config=/etc/toxiproxy/config.json"]
