version: "3.8"

services:
  replicationdb:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: xmtp
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  chain:
    platform: linux/amd64
    image: ghcr.io/xmtp/contracts:sha-cff29fc

  register-node:
    platform: linux/amd64
    image: ghcr.io/xmtp/xmtpd-cli:main
    env_file:
      - local.env
    command: [
      "register-node",
      "--http-address=${REGISTER_NODE_HTTP_ADDRESS}",
      "--node-owner-address=${REGISTER_NODE_OWNER_ADDRESS}",
      "--admin.private-key=${REGISTER_NODE_ADMIN_KEY}",
      "--node-signing-key-pub=${REGISTER_NODE_PUBKEY}"
    ]
    depends_on:
      chain:
        condition: service_started
    restart: on-failure

  enable-node:
    platform: linux/amd64
    image: ghcr.io/xmtp/xmtpd-cli:main
    env_file:
      - local.env
    command: [
      "add-node-to-network",
      "--private-key=${REGISTER_NODE_ADMIN_KEY}",
      "--node-id=100"
    ]
    depends_on:
      chain:
        condition: service_started
      register-node:
        condition: service_completed_successfully
    restart: on-failure

  repnode:
    platform: linux/amd64
    image: ghcr.io/xmtp/xmtpd:sha-69011f9
    env_file:
      - local.env
    depends_on:
      enable-node:
        condition: service_completed_successfully
      replicationdb:
        condition: service_healthy
    ports:
      - 5050:5050
      - 5055:5055